<?xml version="1.0"?>
<root xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="body" params="name">    
   <link name="${name}_link">
      <inertial>
        <mass value="${BASE_MASS}" />
        <origin xyz="0 0 0" />
        <inertia ixx="75.0" ixy="0.0" ixz="0.0"
          iyy="75.0" iyz="0.0"
          izz="75.0" />
      </inertial>
      <visual>
        <origin xyz="0.01 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robots_description/meshes/RobotinoBody.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.01 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://robots_description/meshes/RobotinoBody.dae"/>
        </geometry>
      </collision>
    </link>
    <xacro:base_gazebo name="base" />     
  </xacro:macro>

  <xacro:macro name="base_gazebo" params="name">
    <gazebo reference="${name}_link">
      <material>Gazebo/Grey</material>
      <gravity>true</gravity>
      <self_collide>false</self_collide>
      <sensor name='${name}_contact_sensor' type='contact'>
        <always_on>true</always_on>
        <update_rate>100.0</update_rate>
        <contact>
          <collision>${name}_link_collision</collision>
          <topic>${name}_bumper</topic>
        </contact>
        <plugin name="${name}_gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
          <frameName>world</frameName>
          <bumperTopicName>${name}_bumper</bumperTopicName>
        </plugin>
      </sensor>
    </gazebo>
	<!-- position controller -->
    <gazebo>
	    <plugin name="base_controller" filename="libgazebo_ros_planar_move.so">
		<commandTopic>cmd_vel</commandTopic>
		<odometryTopic>odom</odometryTopic>
		<odometryFrame>odom</odometryFrame>
		<odometryRate>20.0</odometryRate>
		<robotBaseFrame>base_link</robotBaseFrame>
	    </plugin>
    </gazebo>
  </xacro:macro>
</root>

